

// -------------------------------
$primary: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);

body{
  background: url('./images/bg-top.svg'), url('./images/bg-bottom.svg'), $Very-Light-Grayish-Blue;
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 23%;
  color: $Dark-Grayish-Blue;
  @media screen and (max-width: 425px){
    background: url('./images/bg-top.svg'), $Very-Light-Grayish-Blue;
    background-repeat: no-repeat;
    background-position: 55vw -10vw;
  }
}

.pricing-component{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 2rem;
    color: $Grayish-Blue;
  }
	
  .toggle-container{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    color: $Light-Grayish-Blue;
  }
  @media screen and (max-width: 425px){
    width: 100%;
    h2{
      font-size: 2.5rem;
      margin: 0;
      margin-top: 4rem;
    }
    .toggle-container{
      width: 70%;
      font-size: 1.2rem;
      margin: 3rem 0;
    }
  }
  @media screen and (max-width: 320px){
    h2{
      margin-top: 3rem;
    }
    .toggle-container{
      width: 80%;
      margin: 1rem 0;
    }
  }
}
.price-container{
  display: grid;
  align-items:center;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  @media screen and (max-width: 425px){
    width: 100vw;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    div{
      width: 88%;
    }
  }
}